<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>SporMAX Menü</h3>
        <ul class="nav side-menu">
            @*<li><a href="/Anasayfa/"><i class="fa fa-home"></i> Anasayfa <span class="fa fa-chevron-down"></span></a></li>*@
            <li><a href="/Kullanici/Profil/"><i class="fa fa-edit"></i> Bilgilerim <span class="fa fa-chevron-down"></span></a></li>
            <li><a href="/Organizasyon/Liste"><i class="fa fa-desktop"></i> Organizasyonlar <span class="fa fa-chevron-down"></span></a></li>
        </ul>
    </div>
</div>
