<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>SporMAX Menü</h3>
        <ul class="nav side-menu">
            <li>
                <a href="/Anasayfa/"><i class="fa fa-home"></i> Anasayfa</a>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Kullanıcı Yönetimi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Kullanici/RolEkle">Yetki Ekle</a></li>
                    <li><a href="/Kullanici/Roller">Yetkiler</a></li>
                    <li><a href="/Kullanici/Ekle">Kullanıcı Ekle</a></li>
                    <li><a href="/Kullanici/">Kullanıcılar</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-table"></i> Grup/Takım Yönetimi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Grup/Ekle">Grup Ekle</a></li>
                    <li><a href="/Grup/">Grup Listesi</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-desktop"></i> Organizasyon Yönetimi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Organizasyon/Ekle">Organizasyon Ekle</a></li>
                    <li><a href="/Organizasyon/">Organizasyonlar</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-table"></i> Spor Salon Yönetimi <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/Salon/Ekle">Salon Ekle</a></li>
                    <li><a href="/Salon/">Salon Listesi</a></li>
                </ul>
            </li>

            <li><a href="/Ayarlar/"><i class="fa fa-clone"></i>Genel Ayarlar </a></li>
        </ul>
    </div>
</div>
