@model Spor.Core.Entity.Kullanici
<li class="">
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="@Model.Resim" alt="">@Model.AdSoyad
        <span class=" fa fa-angle-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu pull-right">
        <li><a href="/Kullanici/Profil/"> Profil</a></li>

        @*<li><a href="javascript:;">Help</a></li>*@
        <li><a href="/Kullanici/Cikis"><i class="fa fa-sign-out pull-right"></i> Çıkış Yap</a></li>
    </ul>
</li>
