@model Spor.Core.Entity.Kullanici
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="@Model.Resim" alt="@Model.AdSoyad" class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Hoşgeldiniz,</span>
        <h2>@Model.AdSoyad</h2>
    </div>
</div>
